In [23]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sidetable as stb ## Plotar dados Ausentes
import umap ## Reduzir dimensionalidade dos dados e plotar em 2D

In [24]:
data = pd.read_csv("pns2019.csv")

In [25]:
colunas_relevantes = [
    'P034',  # Quantos dias por semana o(a) Sr(a) costuma  (costumava)praticar exercício físico ou esporte?
    'P027',  # Com que frequência o(a) Sr(a) costuma consumir alguma bebida alcoólica?
    'P029',  # Em geral, no dia que o(a) Sr(a) bebe, quantas doses de bebida alcoólica o(a) Sr(a) consome?
    'J01101',  # Quando consultou um médico pela última vez
    'J014',  # Nas duas últimas semanas, procurou algum lugar, serviço ou profissional de saúde para atendimento relacionado à própria saúde
    'N010',  # Nas duas últimas semanas, com que frequência o(a) Sr(a) teve problemas no sono, como dificuldade para adormecer, acordar frequentemente à noite ou dormir mais do que de costume?
    'P050',  # Atualmente, o(a) Sr(a) fuma algum produto do tabaco?
    'Q00201',  # Quando foi a última vez que o(a) Sr(a) teve sua pressão arterial alta
    'P02602', #Em quantos dias da semana o(a) Sr(a) costuma substituir a refeição do almoço por lanches rápidos como sanduíches, salgados, pizza, cachorro quente, etc?
    'P02601', # Considerando a comida preparada na hora e os alimentos industrializados, o(a) Sr(a) acha que o seu consumo de sal é:
    'P02002', # Em quantos dias da semana o(a) Sr(a) costuma tomar refrigerante? 
    'P023',  # Em quantos dias da semana o(a) Sr(a) costuma tomar leite? (de origem animal: vaca, cabra, búfala etc.) 
    'P013', # Em quantos dias da semana o(a) Sr(a) costuma comer frango/galinha? 
    'P02001', # Em quantos dias da semana o(a) Sr(a) costuma tomar suco de caixinha/lata ou refresco em pó ? 
    'P01101', # Em quantos dias da semana o(a) Sr(a) costuma comer carne vermelha (boi, porco, cabrito, bode, ovelha etc.)? 
    'P018', # Em quantos dias da semana o(a) Sr(a) costuma comer frutas? 
    'P01601', # Em quantos dias da semana o(a) Sr(a) costuma tomar suco de fruta natural (incluída a polpa de fruta congelada)? 
    'P02501', #Em quantos dias da semana o(a) Sr(a) costuma comer alimentos doces como biscoito/bolacha recheado, chocolate, gelatina, balas e outros?
    'P00901', # Em quantos dias da semana, o(a) Sr(a) costuma comer pelo menos um tipo de verdura ou legume (sem contar batata, mandioca, cará ou inhame) como alface, tomate, couve, cenoura, chuchu, berinjela, abobrinha? 
    'P00403', #ALTURA
    'P00104',#peso
    'J001', #De um modo geral, como é o estado de saúde de_______
]



# Seleciona apenas as colunas relevantes
data = data[colunas_relevantes]

In [26]:
data = data[data['Q00201'].notna()]

In [27]:
#Excluindo linhas duplicadas
data = data.drop_duplicates(keep=False)

In [28]:
# Resumo dos valores nulos por coluna
data.stb.missing().round(2)

        missing  total  percent
P029      54150  88714    61.04
P00403    14488  88714    16.33
P00104      882  88714     0.99
P034          0  88714     0.00
P013          0  88714     0.00
P00901        0  88714     0.00
P02501        0  88714     0.00
P01601        0  88714     0.00
P018          0  88714     0.00
P01101        0  88714     0.00
P02001        0  88714     0.00
P023          0  88714     0.00
P027          0  88714     0.00
P02002        0  88714     0.00
P02601        0  88714     0.00
P02602        0  88714     0.00
Q00201        0  88714     0.00
P050          0  88714     0.00
N010          0  88714     0.00
J014          0  88714     0.00
J01101        0  88714     0.00
J001          0  88714     0.00

In [29]:
print("Contagem de Valores:" )
print(data['P027'].value_counts())

Contagem de Valores:
P027
1.0    54150
3.0    23763
2.0    10801
Name: count, dtype: int64

In [30]:
# Aplicando a lógica
for index, row in data.iterrows():
    if row['P027'] >= 2 and pd.isna(row['P029']):
        data.at[index, 'P029'] = None
    elif pd.isna(row['P029']):
        data.at[index, 'P029'] = '0'

C:\Users\maype\AppData\Local\Temp\ipykernel_2780\2299543642.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[index, 'P029'] = '0'

In [31]:
# Resumo dos valores nulos por coluna
data.stb.missing().round(2)

        missing  total  percent
P00403    14488  88714    16.33
P00104      882  88714     0.99
P034          0  88714     0.00
P027          0  88714     0.00
P00901        0  88714     0.00
P02501        0  88714     0.00
P01601        0  88714     0.00
P018          0  88714     0.00
P01101        0  88714     0.00
P02001        0  88714     0.00
P013          0  88714     0.00
P023          0  88714     0.00
P02002        0  88714     0.00
P02601        0  88714     0.00
P02602        0  88714     0.00
Q00201        0  88714     0.00
P050          0  88714     0.00
N010          0  88714     0.00
J014          0  88714     0.00
J01101        0  88714     0.00
P029          0  88714     0.00
J001          0  88714     0.00

In [35]:
data = data.dropna()

In [37]:
# Supondo que 'data' seja o DataFrame completo com os dados imputados
data.to_csv('dados_semnulo.csv', index=False)